<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- created actor bean and used construcor injection type -->
  <bean id="actortype" class="com.stackroute.domain.Actor">
        <constructor-arg name="actorName" value="Shahid Kapoor"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="35"/>
    </bean>
<!-- created movie bean and used cnstrctor injection -->
    <bean name="movieA,movieB" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actortype"/>
    </bean>
<!-- created movie bean used scope as prototype-->
    <bean name="movie1,movie2" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actortype"/>
    </bean>



</beans>
